# BOOOK RENTAL SHOP ON JUPYTER NOTE BOOK

In [3]:
import cx_Oracle as ora

#### DB 연결 함수
사용법
> myconn

In [4]:
def myconn():
    dsn = ora.makedsn('localhost', 1521, service_name='orcl')
    conn = ora.connect(user='scott', password='tiger', dsn=dsn, encoding='utf-8')
    return conn

#### dvtbl 전체 조회 함수
사용법
>getAllDataFromDivtbl(conn)은 연결 개체

In [5]:
def getAllDataFromDivtbl(conn) :
    cur = conn.cursor()
    query = 'SELECT * FROM divtbl'
    for row in cur.execute(query) :
        print(row)

#### devtbl의 신규 장르 입력
사용법 tup = (division, names)
>setDataIntoDvitbl(conn, tup)

In [30]:
def setDataIntoDvitbl(conn, tup):
    cur =conn.cursor()
    query = '''INSERT INTO divtbl (division, names)
                VALUES (:1, :2)'''
    cur.execute(query,tup)
    cur.close()
    conn.commit() #COMMIT ; 필수 !

#### 책 대여 프로그램 시작

In [9]:
scott_con = myconn()
print('접속')

접속

#### 책 장르 정보 조회
getAllDataFromDivtbl(scott_con)

In [23]:
getAllDataFromDivtbl(scott_con)

('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('i101', '장르몰라')
('I101', '장르몰라')
('I003', '네트워크')

#### 책 장르 정보 입력

In [28]:
division = 'I101'
names = '장르몰라'
tup = (division, names)
setDataIntoDvitbl(scott_con, tup)
getAllDataFromDivtbl(scott_con)

IntegrityError: ORA-00001: 무결성 제약 조건(SCOTT.DIVTBL_PK)에 위배됩니다